/* * {
  border: solid, 1px, rgb(255, 255, 255);
}

.col {
  border: solid, 1px, rgb(255, 255, 255);
}
div {
  border: solid, 1px, rgb(255, 255, 255);
}



.row {
  border: solid, 1px, white; 
} */

.borderImage {
  border: solid, 3px, black;
}
